a:link    {color:inherit; background-color:transparent; text-decoration:underline}
a:visited {color:inherit; background-color:transparent; text-decoration:underline}
a:hover   {color:inherit; background-color:transparent; text-decoration:underline} 
a:active  {color:inherit; background-color:transparent; text-decoration:underline}

@font-face {
  font-family: DroidSansMono;
  src: url('./resources/DroidSansMono.ttf'); }
@font-face {
  font-family: Scriptina;
  src: url('./resources/Scriptina-Pro.otf'); }
@font-face {
  font-family: AdobeBlank;
  src: url('./resources/AdobeBlank.ttf'); }
@font-face {
  font-family: Overpass;
  src: url('./resources/overpass-mono-light.otf'); }
  
input:focus {
  outline: none; }
.nolink {
  text-decoration: none; }
.bgc {
  background: rgba(1,1,1,0.99); /* #272727 */ }
::selection {
  background: rgba(95,95,95,0.36); /* WebKit/Blink Browsers */ }
  
body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  background-color: rgba(23,39,45,1);
  background-attachment: fixed; /* important */ }
  body::-webkit-scrollbar { 
    display: none; }

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -50; }

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Scriptina', Times, serif;
  font-size: 44pt;
  color: rgba( 14, 14, 14, 0.67);
  text-shadow: 1px 1px rgba( 144, 144, 144, 0.14 );
  z-index: -44; }

#output {
  font-family: 'Overpass Mono','Lekton', Times, serif;
  font-size: 9pt;
  color: rgba(195,205,220,1);
  line-height: 13px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: pre-wrap;
  width: 100%;
  height: calc(100% - 21px);
  background-color: rgba(1,1,1,0.67); }
  #output::-webkit-scrollbar {
    display: none; }

#addenda {
  font-family: 'Lekton', Times, serif;
  font-size: 9pt;
  line-height: 14px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: pre-wrap;
  width: 35%;
  height: 60%;
  right: 0px;
  top: 20%;
  background-color: rgba(14,14,14,0.83);
  border: 1px solid rgba(141,141,141,0.43);
  border-radius: 5px; }

#panel {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 21px;
  transition: all 270ms; }

#input {
  resize: none;
  position: absolute;
  width: calc(100% - 180px);
  min-width: 300px;
  height: 21px;
  top   : 50%;
  transform: translate(0%, -60%);
  font-family: 'CodeNewRoman', 'DroidSansMono', 'Aurulent', 'SaxMono', Times, serif;
  font-size: 10pt;
  background-color: rgba(1,1,1,0.3);
  border: none;
  color: rgba(167,167,167,0.67);
  outline: none; }
  #input:focus {
    background-color: rgba(1,1,1,0.24);}

#reload {
  background-image: url('./resources/spinner-circle.png');
  background-size: 100%;
  height: 14px;
  width: 14px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  font-family: 'SaxMono', Times, serif;
  font-size: 10pt;
  color: rgba(65,65,65,1);
  transition: all 630ms; }
  #reload:hover {
   transform: rotate(130deg); }

#QO-performance {
  font-family: 'Lekton';
  font-size: 9pt;
  color: rgba(164,164,164,1);
  text-align: right;
  position: absolute;
  right: 24px;
  bottom: 0%;
  min-width: 24px; }

#QO-ping {
  font-family: 'Lekton';
  font-size: 9pt;
  color: rgba(164,164,164,1);
  position: absolute;
  right: 71px;
  bottom: 0%;
  min-width: 24px; }

.timestamp {
 font-family: 'AdobeBlank';
}

.hidden {
  display: none; }
.prewrap {
  white-space: prewrap; }

@font-face {
  font-family: CodeNewRoman;
  src: url('./resources/Code-New-Roman.otf'); }
@font-face {
  font-family: BellotaLight;
  src: url('./resources/BellotaText-Light.ttf'); }
@font-face {
  font-family: Bellota;
  src: url('./resources/BellotaText-Regular.ttf'); }
@font-face {
  font-family: SaxMono;
  src: url('./resources/SaxMono.ttf'); }
@font-face {
  font-family: Aurulent;
  src: url('./resources/AurulentSansMono-Regular.otf'); }
@font-face {
  font-family: Ipanema;
  src: url('./resources/IpanemaSecco.ttf'); }
@font-face {
  font-family: Lekton;
  src: url('./resources/Lekton-Regular.ttf'); }
@font-face {
  font-family: LektonBold;
  src: url('./resources/Lekton-Bold.ttf'); }
@font-face {
  font-family: Camingo;
  src: url('./resources/CamingoCode-Regular.ttf'); }
@font-face {
  font-family: Fantasque;
  src: url('./resources/fantasquesansmono-regular.otf'); }
@font-face {
  font-family: SpaceMono;
  src: url('./resources/SpaceMono-Regular.ttf'); }
@font-face {
  font-family: Ubuntu;
  src: url('./resources/UbuntuMono-R.ttf'); }
@font-face {
  font-family: Variane;
  src: url('./resources/VarianeScript.ttf'); }

.dev {
  border: 1px solid rgba(1,1,255,1); }
  
html {
  --scrollbarBG: rgba(65, 65, 65, 0.15);
  --thumbBG: rgba(82, 84, 84, 0.38);
  --thumbBGActive: rgba( 14, 14, 14, 0.55);
}
::-webkit-scrollbar {
  width : 11px;
  height: 11px;
}
#scripting-body, #scripting-displayed-output {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 5px;
  border: 1px solid var(--thumbBGActive);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--thumbBGActive) ;
  border-radius: 5px;
  border: 1px solid var(--scrollbarBG);
}

#QO-connection-light {
  cursor    : pointer;
  position  : absolute;
  top       : 45%;
  right     : 5px;
  width     : 14px;
  height    : 14px;
  transform : translate( 0%, -50% );
  border-radius: 50%;
}
#QO-connection-light-internal {
  position  : absolute;
  left      : 50%;
  top       : 50%;
  width     : 10px;
  height    : 10px;
  transform : translate( -50%, -50% );
  border-radius: 50%;
}
#QO-connection-light.connecting {
  background : rgba(222, 177, 13, 1.00);
}
#QO-connection-light.open {
  background : rgba(7, 138, 20, 1.00);
}
#QO-connection-light.closing {
  background : rgba(179, 62, 62, 1.00);
}
#QO-connection-light.closed {
  background : rgba(199, 14, 48, 1.00);
}

#QO-connection-light.connecting #QO-connection-light-internal {
  background : rgba(232, 190, 35, 1.00);
  animation  : QO-connection-blinking-connecting 1s infinite;
}
#QO-connection-light.open #QO-connection-light-internal {
  background : rgba(20, 222, 40, 1.00);
}
#QO-connection-light.closing #QO-connection-light-internal {
  background : rgba(204, 14, 14, 1.00);
  animation  : QO-connection-blinking-closing 1s infinite;
}
#QO-connection-light.closed #QO-connection-light-internal {
  background : rgba(247, 15, 58, 1.00);
}

@keyframes QO-connection-blinking-connecting {
  0%     { background-color: rgba(222, 177,  13, 1.00);}
  25%    { background-color: rgba(224, 185,  43, 1.00);}
  50%    { background-color: rgba(209, 180,  73, 1.00);}
  75%    { background-color: rgba(222, 198, 111, 1.00);}
  100%   { background-color: rgba(227, 209, 145, 1.00);}
}
@keyframes QO-connection-blinking-closing {
  0%     { background-color: rgba(179,  62,  62, 1.00);}
  25%    { background-color: rgba(201,  58,  58, 1.00);}
  50%    { background-color: rgba(209,  48,  48, 1.00);}
  75%    { background-color: rgba(222,  31,  31, 1.00);}
  100%   { background-color: rgba(232, 125, 125, 1.00);}
}