#panel-options, #panel-connections, #panel-scripts {
  position  : absolute;
  right     : calc(200px - 22px);
  width     : 22px;
  height    : 116%;
  min-height: 20px;
  bottom    : 0%;
  cursor    : pointer;
  padding   : none;
  margin    : none;
  border    : 0px solid rgba(255, 1, 1, 1);
  border-top: 1px solid rgba(55, 55, 55, 1);
  background: rgba( 44, 44, 44, 1);
}
#panel-options:hover #options-list, #panel-connections:hover #connections-list {display: block; z-index: 999;}

#options-list, #connections-list {
  position  : absolute;
  left      : 0%;
  bottom    : 100%;
  width     : 150%;
  min-width : 200px;
  background: rgba(1, 1, 1, 1);
  transition: all 210ms;
  display   : none;
}
.options-item, .connections-item {
  height        : 24px;
  width         : 100%;
  padding       : 0em;
  margin        : 0em;
  color         : rgba( 144, 144, 144, 1 );
  font-family   : 'Bellota','Overpass','Lekton',sans-serif;
  font-size     : 9pt;
  padding-left  : 1.2em;
  padding-top   : 0.1em;
  padding-bottom: 0.1em;
  line-height   : 24px;
  white-space   : pre-wrap;
}
.options-item.active::before, .connections-item.active::before {
  content   : '\2713';
  color     : rgba(1,255,1,1);
}
.options-item:hover, .connections-item:hover {
  background: rgba(44,44,44,1);
}
#options-privateToken, #connections-address-custom {
  padding-left  : 1.2em;
  padding-top   : 0.1em;
  padding-bottom: 0.1em;
  line-height   : 24px;
  font-family   : 'Bellota','Overpass','Lekton',sans-serif;
  font-size     : 9pt;
}
#options-privateToken input, #connections-address-custom input {
  background : none;
  border     : none;
  color      : rgba( 144, 144, 144, 1);
  font-family: 'Bellota','Overpass','Lekton',sans-serif;
  font-size  : 9pt;
  width      : 95%;
}
#options-privateToken:hover, #connections-address-custom:hover {
  background : rgba( 44, 44, 44, 1);
}
#panel-connections {
  right      : calc(200px - 22px - 22px - 3px);
  background : rgba( 76, 76, 76, 1);
  border-top : 1px solid rgba(88, 88, 88, 1);
}
#connections-list {
}
.connections-address-hidden {
  display    : none;
}

#panel-scripts {
  user-select: none;
  right      : calc(200px - 22px - 22px - 3px - 22px - 3px);
  background : rgba( 98, 98, 98, 1);
  border-top : 1px solid rgba( 111, 111, 111, 1);
}
#panel-scripts .display {
  font-family: 'Overpass','Lekton', sans-serif;
  font-size  : 9pt;
  color      : rgba( 44, 44, 44, 1);
  position   : absolute;
  left       : 50%;
  top        : 50%;
  transform  : translate( -50%, -53% );
}
#panel-scripts:hover {
  background : rgba( 98, 98, 98, 1);
  border-top : 1px solid rgba( 15, 15, 15, 1);
}
#panel-scripts:hover .display {
  color      : rgba( 144, 144, 144, 1);
  transform  : translate( -50%, -50% );
}
#panel-scripts:active {
  background : rgba( 155, 155, 155, 1);
  border-top : 1px solid rgba( 15, 15, 15, 1);
}
#panel-scripts:active .display {
  color      : rgba( 1, 1, 1, 1);
  transform  : translate( -50%, -50% );
}
#panel-scripts.active {
  background : rgba(191, 144, 23, 1.00);
  border-top : 1px solid rgba( 212, 163,  38, 1);
}
#panel-scripts.active .display {
  color      : rgba(232, 183, 56, 1.00);
}