#scripting-main {
  position    : absolute;
  right       : 1px;
  bottom      : 25px;
  height      : 80%;
  min-height  : 400px;
  width       : 65%;
  min-width   : 550px;
  background  : rgba( 215, 215, 215, 0.95 );
  border-top-right-radius: 4px;
  border-top-left-radius : 4px;
}
#scripting-container {
  position    : absolute;
  width       : 100%;
  height      : 100%;
}
#scripting-container::webkit-scrollbar {
  display     : none;
}
#scripting-header {
  position    : absolute;
  top         : 0%;
  left        : 0%;
  width       : 100%;
  height      : 27px;
  background  : rgba( 33, 33, 33, 0.99 );
  cursor      : pointer;
}
#scripting-header:hover {
  background  : rgba( 33, 33, 33, 0.96 );
}
#scripting-header:hover .scripting-heading {
  color       : rgba( 211, 211, 211, 1 );
}
.scripting-heading {
  user-select : none;
  font-family : 'Bellota','Overpass', 'Lekton', sans-serif;
  font-size   : 9pt;
  line-height : 19px;
  padding-left: 0.6em;
  color       : rgba( 201, 201, 201, 1);
}
#scripting-closing {
  position     : absolute;
  right        : 1px;
  top          : 6%;
  height       : 70%;
  width        : 16px;
}
#scripting-closing:active {
  background   : rgba(101, 14, 14, 1);
  border-radius: 4px;
}
.scripting-closing {
  user-select  : none;
  position     : absolute;
  left         : 50%;
  top          : 50%;
  color        : rgba(144, 34, 34, 1);
  transform    : translate( -50%, -50% );
  font-family  : 'Overpass','Lekton', sans-serif;
  font-size    : 9pt;
}
#scripting-closing:hover .scripting-closing {
  color        : rgba(201, 34, 34, 1);   
}
#scripting-closing:active .scripting-closing {
  color        : rgba(222, 45, 45, 1);
}
#scripting-navigator-resizing {
  position    : absolute;
  left        : 0%;
  top         : calc(0% + 20px);
  width       : 24%;
  height      : calc(100% - 20px);
  background  : rgba( 1, 1, 1, 0.95);
}
#scripting-navigator {
  position    : absolute;
  left        : 0%;
  top         : 0%;
  width       : 100%;
  height      : 100%;
  border-left : 1px solid rgba( 45, 45, 45, 0.96 );
}
#scripting-navigator::-webkit-scrollbar {
  display     : none;
}
#scripting-navigator-content {
  position    : relative;
  height      : auto;
  min-height  : 75%;
  max-height  : calc(100% - 23px - 23px);
  width       : calc(100% - 1px);
  overflow-y  : auto;
}
#scripting-navigator-content::-webkit-scrollbar {
  display     : none;
}
#scripting-separator {
  position    : absolute;
  right       : 0%;
  top         : 8px;
  height      : calc(100% - 16px);
  width       : 1px;
  background  : rgba( 45, 45, 45, 0.55 );
}
#scripting-body {
  position    : absolute;
  top         : calc(0% + 20px);
  left        : 24%;
  width       : calc(100% - 24% - 1px - 0em);
  height      : calc(100% - 20px);
  font-family : 'Bellota','Overpass', 'Lekton', sans-serif;
  font-size   : 9pt;
  line-height : 17px;
  color       : rgba( 14, 14, 14, 1.00 );
  padding-left: 0.2em;
  background  : rgba(20, 20, 20, 1);
  overflow-y  : hidden;
}
#scripting-body > input {
  background  : rgba(222,222,222,0.05);
  border      : none;
  outline     : 0px none transparent;
  width       : 98%;
  font-family : 'Overpass', 'Lekton', sans-serif;
  font-size   : 9pt;
  line-height : 17px;
}
#scripting-body > textarea::-webkit-scrollbar { 
    display: none; }
#scripting-body > input::-webkit-scrollbar { 
    display: none; }
#scripting-body > textarea:focus, #scripting-body > input {
  outline     : 0;
}
#scripting-body > textarea {
  min-height  : 95%;
}
#scripting-displayed-name {
  margin-top   : 0.8em;
  margin-bottom: 0.4em;
  height       : 23px;
  padding-left : 0.4em;
  font-family  : 'Bellota','Overpass', 'Lekton', sans-serif;
  font-size    : 9pt;
  color        : rgba(101,101,101,1);
}
#scripting-displayed-name input {
  font-family  : 'Overpass', 'Lekton', sans-serif;
  font-size    : 8pt;
  color        : rgba(144,144,144,1);
}
#scripting-displayed-pattern {
  width       : 100%;
  height      : 23px;
  padding-left: 0.4em;
}
#scripting-displayed-pattern input {
  width       : 100%;
  font-family : 'Overpass', 'Lekton', sans-serif;
  font-size   : 8pt;
  color       : rgba(144,144,144,1);
  line-height : 17px;
  background  : none;
  background  : rgba(255,255,255,0.02);
  border      : none;
  border-top  : 1px solid rgba(255,255,255,0.04);
  border-bottom: 1px solid rgba(255,255,255,0.04);
}
#scripting-displayed-output {
  height      : 95%;
  width       : 100%;
  font-family : 'Overpass', 'Lekton';
  font-size   : 8pt;
}
#scripting-displayed-separator {
  width       : 100%;
  height      : 1px;
  background  : rgba(1, 1, 1, 1);
  margin-top  : 0.1em;
  margin-bottom: 0.2em;
}

.QO-nav-topdir {
  width       : 100%;
  background  : rgba( 15, 15, 15, 0.75 );
}
.QO-nav-topdir:hover {
  background  : rgba( 25, 25, 25, 0.87 );
}
.QO-nav-topdirDisplay {
  user-select : none;
  cursor      : pointer;
  font-family : 'Bellota','Overpass', 'Lekton', sans-serif;
  font-size   : 9pt;
  line-height : 17px;
  color       : rgba(144, 144, 144, 1.0);
  white-space : pre-wrap;
  height      : 23px;
  width       : calc(100% - 2px);
  border-right: 1px solid rgba(35, 35, 35, 0.75);
  border-left : 1px solid rgba(35, 35, 35, 0.75);
}
.QO-nav-topdir:hover .QO-nav-topdirDisplay {
  background  : rgba(55, 55, 55, 0.88);    
}
.QO-nav-scripts, .QO-nav-triggers, .QO-nav-aliases {
  user-select : none;
  font-family : 'Bellota','Overpass', 'Lekton', sans-serif;
  font-size   : 6pt;
  font-style  : italic;
  color       : rgba(144, 144, 144, 1.0);
  white-space : pre-wrap;
}
.QO-navSubfolder {
  user-select : none;
  font-family : 'Bellota','Overpass', 'Lekton', sans-serif;
  font-size   : 8pt;
  color       : rgba(144, 144, 144, 1.0);
  line-height : 23px;
  height      : 23px;
  white-space : pre-wrap;
  cursor      : pointer;
}
.QO-nav-item {
  user-select : none;
  cursor      : pointer;
  font-family : 'Bellota','Overpass', 'Lekton', sans-serif;
  font-size   : 8pt;
  font-style  : normal;
  color       : rgba(144, 144, 144, 1.0);
  line-height : 23px;
  height      : 23px;
  white-space : pre-wrap;
  width       : calc(100% - 2px);
  border-right: 1px solid rgba(35, 35, 35, 0.25);
  border-left : 1px solid rgba(35, 35, 35, 0.25);
}
.QO-nav-item:hover {
  background  : rgba(14, 14, 14, 0.88);  
  border-right: 1px solid rgba(35, 35, 35, 0.25);
  border-left : 1px solid rgba(35, 35, 35, 0.25);  
}

#scripting-navstyle {
  position    : relative;
  width       : calc(100% - 1px);
  height      : 23px;
  background  : rgba( 45, 45, 45, 0.35);
}
.QO-scripting-navstyle {
  position    : absolute;
  cursor      : pointer;
  display     : inline-block;
  font-family : 'Overpass', 'Lekton', sans-serif;
  font-size   : 6pt;
  line-height : 23px;
  color       : rgba(14, 14, 14, 1);
  text-align  : center;
  width       : calc(33% - 1px);
}
.QO-scripting-navstyle.active {
  background  : rgba(101,201,101,1);
}
.QO-scripting-navstyle.active:hover {
  background  : rgba( 35, 201, 35,1);
}
.QO-scripting-navstyle:hover {
  background  : rgba(75,75,75,1);    
  color       : rgba( 222, 222, 222,1);
}
.QO-scripting-navstyle:nth-child(1) {
  left        : 0%;
  border-right: 1px solid rgba(1,1,1,1);
}
.QO-scripting-navstyle:nth-child(2) {
  left        : 34%;
  border-right: 1px solid rgba(1,1,1,1);
}
.QO-scripting-navstyle:nth-child(3) {
  left        : 68%;
}

.ace-tomorrow-night-eighties {
  background  : rgba( 15, 15, 15, 0.35) !important;
}
.ace-tomorrow-night-eighties .ace_gutter {
  background  : rgba( 22, 22, 22, 0.35) !important;
  color       : rgba(115,115,115, 1.00) !important;
}

.QO-nav-item .QO-nav-itemPrepend {
  display     : inline-block;
  width       : 24px;
  height      : 23px;
  background-size    : 16px 16px;
  background-repeat  : no-repeat;
  background-position: center;
  filter             : opacity(76%) invert(40%);
}
.QO-nav-item .QO-nav-itemDisplay {
  display     : inline-block;
  position    : relative;
  top         : -37%;
  width       : calc(100% - 24px);
}
.QO-nav-item.script .QO-nav-itemPrepend {
  background-image: url('./resources/script.png');
}
.QO-nav-item.trigger .QO-nav-itemPrepend {
  background-image: url('./resources/trigger.png');
  background-size    : 14px 14px;
  filter             : opacity(65%) invert(40%);
}
.QO-nav-item.alias .QO-nav-itemPrepend {
  background-image: url('./resources/alias.png');
}
.QO-nav-item:hover .QO-nav-itemPrepend {
  filter      : invert(60%);
}
.QO-nav-item.trigger:hover .QO-nav-itemPrepend {
  filter      : invert(65%);
}

/* 
  Navigator 
 */
#QO-scripting-addModule {
  position    : relative;
  left        : 0%;
  top         : 0%;
  height      : 23px;
  width       : 100%;
  background  : rgba( 33, 33, 33, 0.99 );
  padding-left: 0.35em;
}
#QO-scripting-addModule:hover {
  background  : rgba( 35, 35, 35, 0.99 ); 
}
.QO-scripting-addModule {
  font-family : 'Bellota','Lekton',sans-serif;
  font-size   : 9pt;
  color       : rgba( 100, 100, 100, 1.00 );
  line-height : 23px;
  user-select : none;
}
#QO-scripting-addModule:hover .QO-scripting-addModule {
  color       : rgba( 144, 144, 144, 1.00 );
}
#QO-scripting-addModule-top, #QO-scripting-addModule-bottom {
  cursor      : pointer;
  position    : absolute;
  display     : inline-block;
}
#QO-scripting-addModule-top {
  right       : 25px;
}
#QO-scripting-addModule-bottom {
  right       : 11px;
}
#QO-scripting-addModule-top:hover, #QO-scripting-addModule-bottom:hover {
  color       : rgba( 201, 201, 201, 1.00 );
}
.QO-scripting-module {
  width       : 100%;
  background  : rgba( 15, 15, 15, 0.75 );
  padding-left: 0.15em;
}
.QO-scripting-module:hover {
  background  : rgba( 20, 20, 20, 0.70 );
}
.QO-scripting-moduleHeader {
  position    : relative;
  width       : 100%;
}
.QO-scripting-module:hover .QO-scripting-moduleHeader {
  background  : rgba( 25, 25, 25, 0.75 );
}
.QO-scripting-module input {
  font-family : 'Bellota','Overpass', 'Lekton', sans-serif;
  font-size   : 9pt;
  color       : rgba(144, 144, 144, 1.0);
  line-height : 17px;
  
  border      : none;
  outline     : 0;
  
  height      : 23px;
  width       : 67%;
  background  : rgba( 15, 15, 15, 0.75 );

  padding-left : 0.3em;
}
.QO-scripting-module:hover .QO-scripting-module-name {
  background  : rgba( 25, 25, 25, 0.88 );   
}
.QO-scripting-module:hover .QO-scripting-module-name:focus {
  background  : rgba( 45, 45, 45, 0.88 );   
}
.QO-scripting-addObject {
  font-family : 'Bellota','Lekton',sans-serif;
  font-size   : 11pt;
  color       : rgba( 144, 144, 144, 1.00 );
  line-height : 24px;
  user-select : none;
  
  position    : absolute;
  right       : 11px;
  
  display     : inline-block;
  cursor      : pointer;
}

.QO-scripting-object {
  position    : relative;
  width       : 100%;
  height      : 24px;
  background  : rgba( 15, 15, 15, 0.65 );
}
.QO-scripting-object:hover {
  background  : rgba( 25, 25, 25, 0.75 );
}
.QO-scripting-object-prepend {
  padding-left: 0.1em;
  width       : 14%;
}
.QO-scripting-object-name {
  position    : absolute;
  left        : 25px;
  font-family : 'Bellota','Overpass', 'Lekton', sans-serif;
  font-size   : 9pt;
  color       : rgba(144, 144, 144, 1.0);
  line-height : 17px;
  
  border      : none;
  padding     : none;
  outline     : 0;
  
  padding     : 0em;
  height      : 100%;
  width       : 67%;
  background  : rgba( 15, 15, 15, 0.75 );
}
.QO-scripting-object input {
}
.QO-scripting-object:hover .QO-scripting-object-name {
  background  : rgba( 25, 25, 25, 0.88 );   
}
.QO-scripting-object:hover .QO-scripting-object-name:focus {
  background  : rgba( 45, 45, 45, 0.67 );   
}
.QO-scripting-object-postpend {
  position     : absolute;
  right        : 0%;
  width        : 15%;
  text-align   : right;
  padding-right: 8px;
}


.QO-scripting-object .QO-scripting-object-prepend {
  cursor      : pointer;
  display     : inline-block;
  width       : 21px;
  height      : 24px;
  background-size    : 13px 13px;
  background-repeat  : no-repeat;
  background-position: center;
  filter             : opacity(76%) invert(40%);
}
.QO-scripting-object.script .QO-scripting-object-prepend {
  background-image: url('./resources/script.png');
}
.QO-scripting-object.trigger .QO-scripting-object-prepend {
  background-image: url('./resources/trigger.png');
  background-size    : 12px 12px;
  filter             : opacity(65%) invert(40%);
}
.QO-scripting-object.alias .QO-scripting-object-prepend {
  background-image: url('./resources/alias.png');
}
.QO-scripting-object.folder .QO-scripting-object-prepend {
  background-image: url('./resources/folder.png');
}
.QO-scripting-object:hover .QO-scripting-object-prepend {
  filter      : invert(60%);
}
.QO-scripting-object.trigger:hover .QO-scripting-object-prepend {
  filter      : invert(65%);
}

/*
  QO-scripting-body 
 */
.QO-scripting-body-content {
  position    : absolute;
  left        : 0%;
  top         : 0%;
  height      : 100%;
  width       : 100%;
}
#QO-scripting-body-header {
  position    : relative;
  left        : 0%;
  top         : 0%;
  height      : auto;
  min-height  : 28px;
  width       : 100%;
  background  : rgba( 255, 255, 255, 0.04 );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.06 );
}
#QO-scripting-body-name, #QO-scripting-body-pattern {
  position    : relative;
  left        : 0.6em;
  top         : 50%;
  height      : 100%;
  width       : 75%;
  transform   : translate( 0%, 0% );
  line-height : 28px;
}
#QO-scripting-body-name span, #QO-scripting-body-pattern span {
  display     : inline-block;
  position    : relative;
  width       : 88px;

  font-family : 'Bellota','Lekton',sans-serif;
  font-size   : 9pt;
  color       : rgba( 88, 88, 88, 1.00 );
}
#QO-scripting-body-name-actual, #QO-scripting-body-pattern-actual {
  display     : inline-block;
  position    : relative;
  height      : 27px;
  width       : calc(75% - 88px);

  background  : none;
  border      : none;
  background  : rgba(255,255,255,0.02);
  border-top   : 1px solid rgba(255,255,255,0.04);
  border-bottom: 1px solid rgba(255,255,255,0.04);

  font-family : 'Bellota','Lekton',sans-serif;
  font-size   : 9pt;
  color       : rgba( 144, 144, 144, 1.00 );
  line-height : 27px;
}
#QO-scripting-body-name input, #QO-scripting-body-pattern input {
  padding     : 0em;
  padding-left: 0.5em;
}
#QO-scripting-body-delete {
  cursor      : pointer;
  position    : absolute;
  right       : 0.4em;

  top         : 50%;
  font-family : 'Bellota','Lekton',sans-serif;
  font-size   : 9pt;
  color       : rgba( 111, 88, 88, 1.00 );
  
  transform   : translate( 0%, -50% );
  line-height : 28px;
}
#QO-scripting-body-delete:hover {
  color       : rgba( 155, 88, 88, 1.00 );
}
#scripting-body {
  display     : flex;
  flex-direction: column;
}
#QO-scripting-body-contained {
  position    : relative;
  width       : calc(100% - 2px);
  min-height  : calc(100% - 28px);
  flex-grow   : 1;
  border      : 1px solid rgba( 255, 255, 255, 0.08 );
}